# Code owners for ArcSign
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# The maintainer is automatically requested for review on all pull requests.

* @Jason-chen-taiwan
